.preview-member-wrapper {
    .member-detail-wrapper {
        .member-image {
            padding-right: $distanceComponent;
            text-align: center;
            img {
                width: 100%;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
            }
        }

        .member-detail-content {
            .member-detail {
                margin-bottom: $distanceComponent;
                font-weight: bold;
                &:last-child{
                    margin-bottom: unset;
                }
                .title {
                    color: $colorGray;
                }

                .value {
                    float: right;
                }


            }
        }
    }
}