.common-logo-spin {
    max-height: 48px;
    vertical-align: middle;
    display: inline-block;

    -webkit-animation: logo-spin infinite 10s linear;
    animation: logo-spin infinite 10s linear;
}
