// Here you put all global css rules.

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: initial;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-0-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-360-0 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
