$zIndexHeader: 100;

$maxWidthContainer: 1200px;

$colorWhite: #fff;
$colorWhiteOutFocus: rgba(255,255,255,.65);

$colorGray: #606266;

$colorPrimaryHighLight: rgba(50, 250, 255, .75);
$colorPrimary: #91d5ff;
$colorPrimarySlowLight: rgb(74, 131, 201);

$fontSizeDefault: 14px;
$lineHeightDefault: 18px;

$fontSizeMedium: 16px;
$lineHeightMedium: 20px;

$fontSizeTitle: 24px;
$lineHeightTitle: 32px;


$distanceComponent: 12px;
$distanceBlock: 24px;

$headerHeight: 64px;

$borderRadius: 3px;