$zIndexHeader: 100;

$maxWidthContainer: 1200px;

$colorWhite: #fff;
$colorBlack: #000;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorWhiteOutFocus: rgba(255,255,255,.65);

$colorGray: #919191;

$colorPrimaryHighLight: rgba(50, 250, 255, .75);
$colorPrimary: #91d5ff;
$colorPrimarySlowLight: rgb(74, 131, 201);

$fontSizeSmall: 12px;

$fontSizeDefault: 14px;
$lineHeightDefault: 18px;

$fontSizeMedium: 18px;
$lineHeightMedium: 20px;

$fontSizeTitle: 24px;
$lineHeightTitle: 32px;

$distanceItem: 8px;
$distanceComponent: 12px;
$distanceBlock: 24px;

$headerHeight: 64px;

$borderRadius: 3px;