@import "./src/styles/variables";
@import "./src/styles/mixins";

.template{
    .home-page-wrapper{
        width: 100%;
        position: relative;

        .title-wrapper{
            text-align: center;
            margin-bottom: 32px;
            .title-h1{
                font-size: 32px;
                color: #314659;
                margin-bottom: 16px;
            }

            .title-content{
                opacity: 1;
                transform: translate(0px);
            }
        }
    }

    @import "components/Banner/style";
    @import "components/Teams/style";
    @import "components/Content/style";
}
